<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>공지사항 : notice</title>
    <link rel="stylesheet" th:inline="css" th:href="@{/css/student/main/stu-main.css}">
    <script th:src="@{/js/student/stu-total-main/stu-main.js}"></script>
</head>
<body>

<div class="stu-main-container">

    <div class="stu-main-total-container">

        <div class="stu-info-container"> <!-- 정보 -->

            <div class="logo-box">
                <div class="stu-logo-img">
                    <img src="/img/login/symbol.png">
                </div>
                <div class="text-container">
                    <h1>복정대학교</h1>
                    <a>BOKJEUNG PORTAL SERVICE</a>
                </div>
            </div>

            <div class="info-box">

                <div class="login-info">
                    <img src="/img/login/userlogo.png" id="user-logo" alt="User Logo">

                </div>
                <div class="coursetime-info">


                    <a th:href="@{/stu-total}">학생 포탈 바로가기</a>
                    <a th:href="@{/atten-iry}">금일출석관리</a>
                </div>

            </div>

        </div>

        <div class="stu-item-container"> <!-- 테이블 -->

        </div>


    </div>

</div>

<!-- 모달 -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p>모달 창 내용이 여기에 표시됩니다.</p>
    </div>
</div>

</body>
</html>