/* 탭 헤더 스타일 */
#tabs ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 46px; /* 최소 높이 유지 */
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;

}

#tabs ul li {
    padding: 5px 15px;
    margin-left: 3px;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    align-self: flex-end; /* li를 ul의 하단으로 배치 */
    border-top: 5px solid #333333;
}

#tabs ul li a {
    text-decoration: none;
    color: #959595;
    font-size: 15px;
}

#tabs ul li.ui-tabs-active {
    background: white;
    border-top: 5px solid cadetblue;
}

#tabs ul li.ui-tabs-active a {
    color: black;
    font-weight: bold;
}


/* tabsconfig 전체가 잘리게 설정 */
.tabsconfig {
    position: relative;
    background-color: white;
    padding: 5px 20px;
    overflow: hidden;         /* 넘치는 부분 숨김 */
    white-space: nowrap;      /* 줄바꿈 방지 */
    max-width: 100%;          /* 부모 요소를 넘지 않도록 제한 */
    box-sizing: border-box;   /* 패딩과 border를 포함한 크기 계산 */
}