<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <!-- 여기에 공통적으로 사용할 CSS 파일을 링크 -->
    <link rel="stylesheet" href="/css/layouts/main_layouts.css">
</head>
<body class="main_layout_body">
<header>
    <div id="top_wrap_join">
        <div id="top_title">
            <a th:href="@{/login}">
                <img th:src="@{/img/common/LOGO.png}">
            </a>
        </div>
    </div>
</header>


    <div layout:fragment="content">
    </div>


<footer>
    <p>&copy; 2025 My Website</p>
</footer>

<!-- 여기에 공통적으로 사용할 JavaScript 파일을 링크 -->
<script src="/js/scripts.js"></script>
</body>
</html>
