#tabs {
    display: flex;
    flex-direction: column; /* 내부 요소를 세로로 배치 */
    flex: 1;
    width: 100%;
    overflow: hidden;
}

/* 탭 콘텐츠 기본 스타일 */
#tabs > div {


    background-color: white;
    border-top: none;
    max-height: 850px; /* 원하는 높이를 설정 */
    overflow-y: auto; /* 콘텐츠가 넘칠 때 세로로 스크롤이 생기게 함 */

}



#tabs ul {
    position: relative; /* X 버튼 위치 조정을 위해 relative 사용 */

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 0 0 46px; /* 고정 높이 */
    width: 100%;    /* 헤더와 동일한 너비 유지 */
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
}

.close-btn {
    position: absolute;  /* X 버튼을 ul의 우측 끝으로 고정 */
    right: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#tabs ul li {
    padding: 5px 15px;
    margin-left: 3px;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    align-self: flex-end; /* li를 ul의 하단으로 배치 */
    border-top: 5px solid #333333;
}

#tabs ul li a {
    text-decoration: none;
    color: #959595;
    font-size: 15px;
}

#tabs ul li.ui-tabs-active {
    background: white;
    border-top: 5px solid cadetblue;
}

#tabs ul li.ui-tabs-active a {
    color: black;
    font-weight: bold;
}


/* tabsconfig 전체가 잘리게 설정 */
.tabsconfig {
    position: relative;
    background-color: white;
    padding: 5px 20px;
    overflow: hidden;         /* 넘치는 부분 숨김 */
    white-space: nowrap;      /* 줄바꿈 방지 */
    max-width: 100%;          /* 부모 요소를 넘지 않도록 제한 */
    box-sizing: border-box;   /* 패딩과 border를 포함한 크기 계산 */
}

/* 닫기 버튼(X) 스타일 - 텍스트 제거 및 X 표시 */
#tabs .ui-icon-close::before {
    color: grey;
    margin-left: 4px;
    content: "✖"; /* X 아이콘 표시 */
}

/* 활성 탭의 닫기 버튼(X) 색상 변경 */
#tabs .ui-tabs-active .ui-icon-close::before {
    color: black;
}

