<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>교수정보관리 : professor-management</title>
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/modal.css}">
    <script defer th:src="@{/js/admin/user-management/professor-management.js}"></script>
</head>
<th:block layout:fragment="content">

    <div class="content">

        <div class="content-title">
            <h5>사용자관리 > 교수 > 교수정보관리</h5>
        </div>

        <div class="search-select-container">
            <div class="select-container">
                <div class="select-box">
                    <select>
                        <option>학과1</option>
                        <option>학과2</option>
                    </select>
                </div>
            </div>
            <div class="search-container">
                <div class="search-box">
                    <!-- 이름 검색 입력란 -->
                    <input type="text" placeholder="이름/교번을 입력하세요" />
                </div>
                <button>검색</button>
            </div>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>이름</th>
                    <th>교번</th>
                    <th>학과</th>
                    <th>사용자</th>
                    <th>상태</th>
                    <th>비고</th>

                </tr>
                </thead>
                <tbody>
                <th:block>
                    <!-- 여기에 출력하면 됨 -->
                </th:block>
                </tbody>
            </table>
        </div>

        <button type="button" id="openAddModal">신규등록</button>
        <!-- 폼 끝 -->

        <!-- 학생 신규 등록 -->
        <div id="studentaddModal" class="modal">
            <div class="modal-content">
                <span class="close" id="close-modal">&times;</span>
                <h3>신규등록</h3>
                <form>
                    <label for="student-name">이름</label>
                    <input type="text" id="student-name" name="student-name" placeholder="학생 이름"><br><br>

                    <label for="birthdate">생년월일</label>
                    <input type="date" id="birthdate" name="birthdate"><br><br>

                    <label for="modal-department">학과</label>
                    <select id="modal-department" name="department">
                        <option value="">학과</option>
                        <option value="computer-science">컴퓨터공학과</option>
                        <option value="business">경영학과</option>
                        <option value="english">영어영문학과</option>
                        <option value="design">디자인학과</option>
                    </select><br><br>

                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" placeholder="이메일 주소"><br><br>

                    <label for="phone">연락처</label>
                    <input type="tel" id="phone" name="phone" placeholder="연락처"><br><br>

                    <label for="address">주소</label>
                    <input type="text" id="address" name="address" placeholder="주소"><br><br>

                    <label for="student-id">학번</label>
                    <input type="text" id="student-id" name="student-id" placeholder="학생 학번"><br><br>

                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호"><br><br>

                    <button type="submit">제출</button>
                </form>
            </div>
        </div>


    </div>
</th:block>
</html>