/* 전체 페이지 스타일 */
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 페이지에서 스크롤이 생기지 않도록 설정 */

}

/* 부모 컨테이너 */
.stu-main-container {
    position: relative;
    display: flex; /* 플렉스를 사용하여 자식 요소 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    height: 100%;
    width: 100%; /* 화면 전체 너비를 차지하도록 설정 */
    overflow: hidden; /* 부모 요소에 overflow 설정 */
}

.stu-main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/img/common/uni_background.jpg") center/cover no-repeat;
    filter: blur(1px) brightness(0.5); /* 흐리게 만들고 어둡게 조정 */
    z-index: -1; /* 배경 이미지가 자식 요소 뒤에 오도록 설정 */
}


.stu-main-total-container{
    position: relative;
    display: flex;
    background-color: white;
    height: 900px;
    width: 1300px;
    border-radius: 40px;
    margin-top: 120px;
    overflow: hidden; /* 부모 요소에 overflow 설정 */
}

.stu-info-container{
    position: relative;
    display: flex;
    height: 100%;
    width: 450px;
    background-color: #007bff;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
}

.stu-item-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 950px;

}

.stu-item-link{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 25%;

    align-items: center; /* 가로 중앙 정렬 */
    text-align: center;
    justify-content: center; /* 세로 중앙 정렬 */
    box-sizing: border-box;

}

.stu-item-link h3 {
    align-self: flex-start; /* 왼쪽 끝 정렬 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin: 0 80px;
}

.stu-item-link a{
    text-decoration: none;
    color: black;
    border : 1px solid gray;
    border-radius: 30px;
    background-color: white;
    padding: 10px 330px;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.stu-item-link img{
    width: 100px;
}

.stu-info-table{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;

}

.info-time{
    position: relative;
    display: flex;
    height: 50%;

}

.info-board{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    height: 50%;

}

.info-board-right,
.info-board-left,
.ifno-time-right,
.info-time-left{
    display: flex;
    width: 50%;
    justify-content: center; /* 가로 중앙 정렬 */
    padding: 0;
    margin: 0;

}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 76%;
    height: 280px;
    text-align: start;
    border: 1px solid gray;
    background-color: white;
}

.item-title{
    margin: 0;
    padding: 0;
    background-color: black;
}

.item-title h3{
    font-size: 20px;
    font-weight: bold;
    background-color: #bcbcc7;
    margin: 0;
    padding: 5px;
}

.date-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: white;


    box-sizing: border-box; /* padding 포함하여 계산 */
}

.calendar-header{
    display: flex;
    align-items: center; /* 가로 중앙 정렬 */
    text-align: center;
    justify-content: center; /* 세로 중앙 정렬 */

}

.calendar-header h3{
    min-width: 140px;
}

.calendar-header button{

}


.logo-box{
    position: relative;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */

    width: 100%;
    align-items: center; /* 가로 중앙 정렬 */
    text-align: center;
    justify-content: center; /* 세로 중앙 정렬 */
    height: 240px;
    margin-bottom: 20px;
}

.stu-logo-img img{
    width: 100px;
}

.text-container{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.text-container h1{
    margin: 0;
    font-size: 31px;
    color: white;
}

.text-container a{
    margin: 0;
    color:  #4169E1;
    background-color: white;
    font-weight: bold;
    padding: 0 3px;
}

.info-box {

    height: calc(100vh - 240px); /* 화면 높이에서 240px를 뺀 나머지 공간 */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    width: 350px;
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}

.login-info-join {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 10px 50px;
    width: 100%; /* 부모 요소(info-box)의 너비에 맞춤 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}

.login-info-join img{
    width: 80px;
}

.login-info p {
    font-size: 16px; /* 글자 크기 */
    color: #333; /* 텍스트 색상 */
    margin: 10px 0; /* 각 항목 간 여백 */
}

.login-info p .greeting {
    font-size: 20px; /* 반갑습니다 크기 조정 */
    color: #333333;
}

.login-info p:first-child {
    font-weight: bold; /* 첫 번째 항목(이름)을 굵게 */
    color: black;
    font-size: 30px;
}

.login-info p:last-child {
    color: #333333;
    font-weight: bold;
}


.login-info{
    position: relative;
    display: flex;
    width: 100%; /* 부모 요소(info-box)의 너비에 맞춤 */
    box-sizing: border-box; /* 패딩과 보더를 포함한 너비 계산 */
}

.button-container{
    display: flex;
    position: relative;
    justify-content:space-between;
    margin-top: 30px;
}

.button-container button{
    width: 40%;
    padding: 5px 5px;
}

/* 테이블 스타일 */
#academic-calendar {
    width: 100%;
    border-collapse: collapse; /* 테이블 셀 간 경계선 합침 */
}

#academic-calendar th, #academic-calendar td {
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

#department-notices{
    display: flex;
    justify-content: start;
}
/* 공지사항 제목 스타일 */
.notice-title {
    font-size: 16px;
    text-align: left;

}



.notice-title::before {
    content: "• ";  /* 점을 추가 */
    margin-right: 5px;  /* 점과 제목 사이 간격 설정 */
    color: black;  /* 점의 색상 설정 (원하는 색상으로 변경) */
}
