<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>장학금 관리: scholarship-management</title>
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <link rel="stylesheet" th:href="@{/css/admin/modal.css}">
    <script defer th:src="@{/js/admin/administrative-management/scholarship-management.js}"></script>
</head>
<th:block layout:fragment="content">

    <div class="content">

        <div class="content-title">
            <h5>행정관리 > 장학금 > 장학금 관리</h5>
        </div>



        <div class="search-select-container">


            <div class="search-container">
                <div class="searchf-box">
                    <select>
                        <option>학과</option>
                        <option>학번</option>
                    </select>
                </div>
                <div class="search-box">
                    <!-- 이름 검색 입력란 -->
                    <input type="text" placeholder="내용입력" />
                </div>
                <button>검색</button>
            </div>
        </div>
        <!-- 폼 시작 -->
        <form th:action="@{/attendance/save}" method="post">
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>이름</th>
                        <th>학번</th>
                        <th>학과</th>
                        <th>학년도</th>
                        <th>학기</th>
                        <th>장학금명</th>
                        <th>지급구분</th>
                        <th>장학금액</th>
                        <th>확정일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block>
                        <td>홍길동</td>
                        <td>20230001</td>
                        <td>컴퓨터공학과</td>
                        <td>2024학년도</td>
                        <td>1학기</td>
                        <td>잘했음장학금</td>
                        <td>사전감면</td>
                        <td>858,000</td>
                        <td>2024-12-19</td>
                    </th:block>
                    </tbody>
                </table>
            </div>  <!-- 제출 버튼 -->
            <button type="submit" id="form-btn">삭제</button>
            <button type="button" id="openAddModal">등록</button>

        </form>
        <!-- 폼 끝 -->
        <!-- 학생 신규 등록 -->
        <div id="studentaddModal" class="modal">
            <div class="modal-content">
                <span class="close" id="close-modal">&times;</span>
                <h3>신규등록</h3>
                <form>
                    <label for="student-id">학번</label>
                    <input type="text" id="student-id" name="student-id" placeholder="학번"><br><br>

                    <label for="student-name">이름</label>
                    <input type="text" id="student-name" name="student-name" placeholder="학생 이름"><br><br>

                    <label for="department">학과</label>
                    <input type="text" id="department" name="department" placeholder="학과"><br><br>

                    <label for="semester">학기</label>
                    <input type="text" id="semester" name="semester" placeholder="학기"><br><br>

                    <label for="scholarship-name">장학금명</label>
                    <input type="text" id="scholarship-name" name="scholarship-name" placeholder="장학금명"><br><br>

                    <label for="payment-type">지급구분</label>
                    <input type="text" id="payment-type" name="payment-type" placeholder="지급구분"><br><br>

                    <label for="amount">금액</label>
                    <input type="number" id="amount" name="amount" placeholder="금액"><br><br>

                    <button type="submit">제출</button>
                </form>
            </div>
        </div>



    </div>
</th:block>
</html>