/* 전체 레이아웃을 flexbox로 설정 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
}

.header {
    background-color: yellowgreen;
    height: 60px; /* 헤더의 높이를 설정 */
}



/* 사이드바 고정 스타일 */
.sidebar {
    width: 240px;                  /* 사이드바 너비 */

    color: white;                  /* 글자색 */
    height: 100vh;                 /* 화면 전체 높이 */

    top: 60px;                     /* 헤더 높이에 맞춰 사이드바 시작 위치 조정 */
    left: 0;                       /* 화면 왼쪽에 고정 */

    padding: 0;
    margin: 0;
    box-sizing: border-box;        /* 패딩과 보더가 너비에 포함되도록 */
    border-right: 1px solid grey;
}


#tabs {
    background-color: tomato;
    flex: 1; /* 콘텐츠 영역이 남은 공간을 차지하도록 설정 */
}