/* 전체 레이아웃을 flexbox로 설정 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
}

.header {
    background-color: yellowgreen;
    height: 60px; /* 헤더의 높이를 설정 */
}



/* Sidebar 스타일 */
.sidebar {
    width: 250px;
    background-color: #2f4f4f;
    color: white;
    padding: 20px;
    height: 100vh;
}


#tabs {
    background-color: tomato;
    flex: 1; /* 콘텐츠 영역이 남은 공간을 차지하도록 설정 */
}