<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>헤더영역</title>
</head>
<!-- headerFragment 선언 -->
<th:block th:fragment="headerFragment">
    <div class="header">
        <nav class="gnb">
            <div class="logo">
                <a href="/am" class="logo">People</a>
            </div>
            <ul class="gnb_depth1">
                <li>
                    <a href="#" class="menu-item" data-menu="student">학생모드</a>
                </li>
            </ul>
            <ul class="gnb_depth1">
                <li>
                    <a href="#" class="menu-item" data-menu="admin">관리자모드</a>
                </li>
            </ul>
            <ul class="gnb_depth1">
                <li>
                    <a href="#" class="menu-item" data-menu="prop">교수모드</a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>
</html>
