.tm-table-container{
    position: relative;
    margin-top: 10px;

}

.tm-table-title{
    font-weight: bold;
    font-size: 13px;
    color: #333333;
}

.tm-table-box {
    position: relative;
    height: 300px;
    border-top: 2px solid blue;
    border-bottom: 1px solid grey;
    background-color: #dddddd;
    overflow: auto; /* 오버플로우 시 스크롤 생기도록 설정 */
    padding-right: 10px;
    width: 60%;
}

.tm-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-collapse: collapse;
}



/* 테이블 헤더 스타일 */
th {
    margin: 0;
    background-color:  #4d4d4d;
    padding: 5px 15px;
    text-align: center;"
    font-weight: bold;
    border: 1px solid #ddd; /* 헤더에 경계선 추가 */
    position: sticky; /* 스크롤 시 헤더 고정 */
    top: 0; /* 상단에 고정 */
    color: white;
}

/* 테이블 데이터 스타일 */
td {
    padding: 5px 15px;
    text-align: center;

}

td.left {
    text-align: left; /* 우측 정렬 */
}
