* {
    margin: 0;
}

.main_layout_body{
    margin: 0;
}

#top_wrap_join{
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    flex-direction: column;

    background-color:  white;
    margin: 0;
    width: 100%;
    height: 70px;
}

#top_title{
    position: relative;
    display: flex;
    justify-content: start; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    box-sizing: border-box;
    width: 800px;
    height: 100%;
    background-color: white;
}

#top_title img{
    width: 150px;
}

.content_join{
    position: relative;
    display: flex;
    align-items: center; /* 수평 중앙 정렬 */
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;


}

#cotent_top{
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center; /* 수평 중앙 정렬 */
    flex-direction: column;
    background-color: #4169E1;
    width: 100%;
    height: 70px;
}

#content_title{
    background-color: #4169E1;
    width: 800px;
    height: 70px;
    display: flex; /* 플렉스 박스 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between;
    overflow: hidden;
}

#content_title img{
    width: 150px;
   opacity: 0.6;
}

#content_title h2{
    color: white;
}


#content_area{
    background-color: white;
    width: 800px;
    padding-top: 40px;
}

#area_title{
    margin-bottom: 20px;
}



table {
    position: relative;
    width: 100%;
    table-layout: fixed; /* 고정된 테이블 레이아웃 사용 */
    box-sizing: border-box; /* padding과 border가 width에 포함되게 설정 */
    overflow: hidden; /* 테이블 내용이 넘치지 않도록 설정 */
}

td {
    max-width: 100%; /* td가 부모를 넘지 않게 설정 */
    word-wrap: break-word; /* 긴 텍스트가 넘치지 않도록 단어 끊기 */
    flex-direction: column; /* 세로로 배치 */
    justify-content: center; /* 수직 가운데 정렬 */

}

td span {
    display: flex; /* flexbox 활성화 */
    flex-direction: column; /* 세로로 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    width: 100%; /* span이 td를 넘지 않도록 설정 */
    max-width: 100%; /* span이 td를 넘지 않도록 설정 */
    height: 50px; /* 높이 설정 */
    max-height: 60px; /* 최대 높이 설정 */
    padding: 15px 10px; /* 패딩 추가 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-right: 3px solid grey;
    border-left: 3px solid grey;
    background-color: white;
    box-sizing: border-box; /* padding과 border가 width에 포함되게 설정 */
}

span input{

    font-size: 20px; /* 글자 크기 조정 */
    border: none;
}

td span:first-child {
    border-top: 3px solid grey; /* 첫 번째 span의 탑 보더를 3px로 설정 */
}

td span:not(:last-child) {
    border-bottom: none; /* 마지막 요소가 아닌 span에는 선을 없앰 */
}

td span:last-child{
    border-bottom: 3px solid grey;
}

.button-container {
    display: flex;
    justify-content: center;  /* 버튼들을 가로로 중앙에 배치 */
    gap: 10px;  /* 버튼들 사이의 간격 */
    margin-top: 20px;  /* 버튼들이 위에서 떨어지도록 여백 추가 */
}

.common_btn {
    padding: 8px 40px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #4169E1;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.button-container .common_btn:last-child {
    background-color: white;
    color: black;
}