/* 탭 컨테이너 스타일 */
#tabs {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

/* 탭 헤더 스타일 */
#tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    min-height: 50px; /* 최소 높이 유지 */
    justify-content: flex-start;
    align-items: center;
}

#tabs ul li {
    padding: 10px 15px;
    border: 1px solid gray;
    background-color: #d7d7d7;
    border-bottom: none;
    cursor: pointer;
    position: relative;
    align-self: flex-end; /* li를 ul의 하단으로 배치 */
}

#tabs ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#tabs ul li.ui-tabs-active {
    background: white;

}


/* 닫기 버튼(X) 스타일 - 텍스트 제거 및 X 표시 */
#tabs .ui-icon-close::before {
    content: "✖"; /* X 아이콘 표시 */
}