/* 전체 레이아웃을 flexbox로 설정 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
}

.header {
    background-color: yellowgreen;
    height: 60px; /* 헤더의 높이를 설정 */
}



.sidebar {
    background-color: sandybrown;
    width: 250px; /* 사이드바의 너비 설정 */
}

#tabs {
    background-color: tomato;
    flex: 1; /* 콘텐츠 영역이 남은 공간을 차지하도록 설정 */
}