.enter-grade-container {
    width: 100%;
    margin: 0;
}

.semester {
    font-size: 16px;
}

/* Buttons */
.modify-button, .complete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.modify-button {
    background-color: #ffc107;
    color: black;
}

.modify-button:hover {
    background-color: #e0a800;
}

.complete-button {
    background-color: #28a745;
    color: white;
}

.complete-button:hover {
    background-color: #218838;
}
