<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>login homepage</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:inline="css" th:href="@{/css/main/admin.css}">
  <script th:inline="javascript" type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
  <!-- 좌측 사이드바 -->
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="/img/main/logo.png" class="logo">
      <div class="text-container">
        <h1>BOKJEUNG PORTAL</h1>
        <p>복정포털서비스</p>
      </div>
    </div>
    <div class="profile-container">
      <div class="profile">
        <h2>관리자</h2>
      </div>
    </div>
    <div class="button-container">
      <button class="logout-button">로그아웃</button>
    </div>
  </aside>
  <div class="main-content">
    <div class="top-container">
      <div class="services">
        <h2>바로가기</h2>
        <div class="service-grid">
          <a href="#" class="service-item"><img src="/img/main/attendance.png"/><span>사용자 관리</span></a>
          <a href="#" class="service-item"><img src="/img/main/course.png"/><span>학사 관리</span></a>
          <a href="#" class="service-item"><img src="/img/main/grade.png"/><span>행정 관리</span></a>
          <a href="#" class="service-item"><img src="/img/main/tuition.png"/><span>공지 사항</span></a>
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <div class="announcement">
        <h3>학사 공지사항</h3>
        <ul>
          <li>2024년 12월 강의 일정</li>
          <li>2024년 겨울 방학 안내</li>
        </ul>
      </div>

      <div class="calendar">
        <h3>학사 일정</h3>
        <p>17일: 학기종강</p>
        <p>25일: 크리스마스</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
