<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login homepage</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:inline="css" th:href="@{/css/main/prof.css}">
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <!-- 좌측 사이드바 -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="/img/main/logo.png" class="logo">
            <div class="text-container">
                <h1>BOKJEUNG PORTAL</h1>
                <p>복정포털서비스</p>
            </div>
        </div>
        <div class="profile-container">
            <div class="profile">
                <h2>성 이름</h2>
                <p>교번 : 1234567</p>
                <p>학과 : 컴퓨터 소프트웨어 학과</p>
                <p>이메일 : 학사 과정</p>
                <p>연구실 : 학사 과정</p>
                <p>전화번호 : 학사 과정</p>
            </div>
        </div>
        <div class="button-container">
            <button class="logout-button">로그아웃</button>
        </div>
    </aside>
    <div class="main-content">
        <div class="top-container">
            <div class="services">
                <h2>학사관리</h2>
                <div class="service-grid">
                    <div class="service-item"><img src="/img/main/information.png"/><span>통합 정보</span></div>
                </div>
                <h2>바로가기</h2>
                <div class="service-grid">
                    <div class="service-item"><img src="/img/main/attendance.png"/><span>출석 체크</span></div>
                    <div class="service-item"><img src="/img/main/course.png"/><span>수강 관리</span></div>
                    <div class="service-item"><img src="/img/main/grade.png"/><span>과제 관리</span></div>
                    <div class="service-item"><img src="/img/main/tuition.png"/><span>교수 공지사항</span></div>
                </div>
            </div>
            <div class="schedule-container">
                <h2>오늘의 강의 일정</h2>
                <div class="prof-schedule">
                    <div class="date">2024.12.08(금)</div>
                    <ul>
                        <li>12시 <strong>데이터베이스</strong> CS Lab. 41</li>
                        <li>14시 <strong>프로그래밍</strong> CS Lab. 42</li>
                        <li>16시 <strong>네트워크</strong> CS Lab. 43</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="announcement">
                <h3>학사 공지사항</h3>
                <ul>
                    <li>2024년 12월 강의 일정</li>
                    <li>2024년 겨울 방학 안내</li>
                </ul>
            </div>

            <div class="calendar">
                <h3>학사 일정</h3>
                <p>17일: 학기종강</p>
                <p>25일: 크리스마스</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
