<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script th:src="@{/js/common/findPW.js}"></script>
</head>
<div layout:fragment="content">
    <div class="content_join">

        <div id="cotent_top">
            <div id="content_title">
                <h2>비밀번호 찾기</h2>
                <img src="/img/common/symbol.png">
            </div>
        </div>


        <div id="content_area">
            <div id="area_title">
                <h3>기본정보 입력</h3>
            </div>
            <div class="find_account_ID">
            </div>

        </div>

    </div>
</div>

</html>
