

.gnb {
    display: flex; /* Flexbox로 설정 */
    height: 100%;
    width: 100%;
    align-items: center; /* 메뉴들을 수직 중앙에 위치 */
}

.logo {
    font-size: 24px; /* 글꼴 크기 설정 */
    font-weight: bold; /* 글꼴 두께 설정 */
    color: #1E3A8A;
    text-decoration: none; /* 링크 밑줄 제거 */
    z-index: 999;
    margin-left: 20px; /* 왼쪽 여백 설정 */
    display: flex;
    margin-right: 50px;
}


.gnb_depth1 {
    display: flex; /* Flexbox로 설정 */
    justify-content: center; /* 메뉴들을 수평 중앙에 위치 */
    align-items: center; /* 메뉴들을 수직 중앙에 위치 */
    list-style: none;  /* 밑줄 제거 */
    height: 100%; /* 부모인 gnb 높이에 맞춰서 수직 중앙 정렬 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.gnb_depth1 li {
    position: relative; /* 서브메뉴 위치 설정을 위한 부모 요소 기준 */
    list-style: none; /* 점 제거 */
    padding: 0 30px; /* 좌우 패딩 설정 */
    height: 100%; /* 부모 높이에 맞춰서 수직 중앙 정렬 */
    display: flex; /* Flexbox로 설정 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 메인메뉴 링크 */
.gnb_depth1 a {
    font-weight: bold; /* 폰트 두께를 굵게 설정 */
    color: #2C2C2C;
    position: relative; /* 후속 가상 요소의 위치를 위해 relative 설정 */
    display: inline-block; /* 인라인 블록으로 설정하여 너비 조정 가능 */
    text-decoration: none; /* 밑줄 제거 */
    margin: 0; /* 마진 초기화 */
}

.gnb_depth1 li:hover {
    border-bottom: 2px solid white;
}